@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html>body{
	 font-family: 'GmarketSansMedium';
	 background-color: rgba(249, 250, 251);
}

header>.container > nav > ul > li > a{
  padding: 0 10px;
  position:relative;
  font-weight: bold;
  color: #1e1e1e;
}
header>.container > nav > ul > li > a::after{
  content:"";
  position:absolute;
  bottom: -10px;
  left: 0;
  height: 4px;
  width: 0;
  background-color: transparent;
  transition: background-color .2s, width .2s;
}
header>.container > nav > ul > li:hover > a::after{
  width: 100%;
  background-color: black;
}
/* body > header > div > table > tr > th {
	border-color: rgba(55, 65, 81);
	border: 4px;
}
.box{
	border: 4px;
} */



